@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@500&display=swap');
*{box-sizing: border-box;font-family: sans-serif;}
body,html{
	margin: 0;
	padding: 0;
	height: 100%;
	min-height:100%;
	overflow-x: hidden;
	background:#1a1a1a;
	display: flex;
	flex-direction: column; 
}
.start{
	text-align: center;
}
.scoreboard{
	display: flex;
}
.score{
color:white;
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 1.5em;
padding-top:30px;
width:50%;
}
h2{
	font-weight: 500;
	font-size: 2.1em;
	text-align: center;
}
.main-game{
	padding-top:60px;
	position: relative;
	font-family: 'Rubik', sans-serif;
	color:white;
}
button{
color:white;
font-size:1.5em;
padding: 12px 26px;
border:none;
background:#6b6b47;
cursor:pointer;
border-radius: 4px;
}
button:hover, .pop-box a:hover{
	opacity: 0.8;
}
.buttons,#dev-info{
	display: flex;
	justify-content: space-around;
}
#dev-info{
	font-family: sans-serif;
	padding: 3rem;
	margin-top: auto;
	color: #fff;
}
.buttons div{
	display:flex;
	justify-content:center;
	width:33%;
}
.buttons div:nth-child(1){
justify-content: flex-end;
}
.buttons div:nth-child(3){
justify-content: flex-start;
}
.main-game .start button{
display: inline-block;
margin-top: 130px;
}
.images{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
.images img{
	width: 150px;
	height: 150px;
}
.images img:nth-child(1){
	transform:rotateY(180deg);
	margin-left: 10px;
}
.click1{
	animation:move;
	animation-duration: 1.2s;
}
.click2{
	animation:moveimg;
	animation-duration: 1.2s;
}
.disable{
	pointer-events: none;
}
.click-fade{
	animation-name:fade;
	animation-duration:0.7s;
}
.out , .display-winner{
	display: none;
}
.click-in{
	display: block;
	animation-name:fade;
	animation-duration: 0.5s;
	animation-direction:reverse; 
}
.game-finish-popup{
	background: rgba(0,0,0,0.87);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	z-index: 1000;
}
.game-finish-popup.pop{
	display:flex;
}
.pop-box{
	width: 80%;
	max-width:400px;
	border-radius: 10px;
	min-height:450px;
	background:linear-gradient(to bottom,#604020,#392613);
    transform:translateY(-400%);
}
.pop-box.down{
    animation: down 1.2s ease-in-out forwards;
}
@keyframes down{
	0%{
		transform:translateY(-400%);
	}
	70%{
		transform:translateY(10%);
	}
	100%{
		transform: translateY(0%);
	}
}
.win-status h1{
	font-size: 3rem;
	font-weight: 900;
	color: #1a0d00;
	text-align: center;
}
.win-status p{
	font-size: 1.9rem;
	text-align: center;
}
.pop-box a{
	position: absolute;
	top:70%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-decoration: none;
	color: #fff;
	font-size: 2rem;
	padding:5px 30px;
	border: 2px solid white;
	border-radius:8px;
	background: #4d1a00;
	transition: 0.2s;
}
@keyframes fade{
0%{opacity: 1;}
100%{opacity: 0;}
}
@keyframes move{
16%{
transform: translateY(-40px) rotateY(180deg);
}
32%{
transform: translateY(0px)  rotateY(180deg);
}
48%{
transform: translateY(-40px) rotateY(180deg);
}
64%{
transform: translateY(0px) rotateY(180deg);
}
80%{
transform: translateY(-40px)  rotateY(180deg);
}
100%{
transform: translateY(0px) rotateY(180deg);
}

}
@keyframes moveimg{
16%{
transform: translateY(-40px);
}
32%{
transform: translateY(0px);
}
48%{
transform: translateY(-40px);
}
64%{
transform: translateY(0px);
}
80%{
transform: translateY(-40px);
}
100%{
transform: translateY(0px);
}
}
/*code for other devices*/
@media screen and ( min-width:500px )
{
	.main-game{
		padding-top: 100px;
	}
}
@media screen and (max-width: 400px){
	.buttons{
		flex-direction: column;
	}
	.buttons div{
		width: 100%;
		margin: 10px 0;
	}
	.buttons div:nth-child(1),.buttons div:nth-child(3){
          justify-content:space-around;
        }
}